* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

:root {
  --blue: #1a3a7a;
  --light-blue: #4da3ff;
  --bg-light: #e8f1ff;
}

body {
  background: var(--bg-light);
  transition: all 0.5s ease;
}

/* Header */
header {
  width: 100%;
  color: white;
  box-shadow: 0 4px 15px rgba(26, 58, 122, 0.3);
  position: sticky;
  top: 0;
  z-index: 1000;
  background: var(--blue);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 1.5px 15px 20px;
  text-align: center;
}

.logout-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 20px 0 0 20px;
  padding: 5px 0 5px 10px;
  background: linear-gradient(100deg, var(--light-blue), var(--blue));
  color: var(--bg-light);
}

.logout-btn span{
  font-size: 0.8rem;
  font-weight: bold;
}

/* Welcome */
.top-section {
  width: 90%;
  margin: 20px auto;
}

.welcome-box {
  background: linear-gradient(135deg, var(--blue), var(--light-blue));
  padding: 20px;
  border-radius: 10px;
  color: white;
  text-align: center;
  box-shadow: 0 4px 10px rgba(26, 58, 122, 0.2);
}

/* Cards Section */
.cards {
  width: 90%;
  margin: 25px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  border-left: 5px solid var(--light-blue);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 3px 8px rgba(0, 60, 130, 0.15);
  transition: 0.3s ease;
}

.card_headline{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 4px;
  margin-bottom: 8px;
}

.card_headline{
  color: var(--light-blue);
}

.card h4 {
  color: var(--blue);
  margin-bottom: -6px;
}

.card p {
  color: #333;
  font-size: 0.8rem;
}

/* Hover Effect */
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 60, 130, 0.25);
  border-left-color: var(--blue);
}

a{
  text-decoration: none;
}